@import '../../../styles/variables';

.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 2rem;

    @media (min-width: #{$tablet}px) {
        padding: 0 3rem;
    }

    @media (min-width: #{$desktop}px) {
        padding: 0 4rem;
    }
}
